<div id="accessor-{{ accessor.clean_name }}">

  {{ accessor.description|markdown|safe }}

  <div class="well bs-component">
    <form class="form-horizontal">
      <fieldset>

        <legend>Controls</legend>

        {% for port in accessor.ports %}
        {% set fieldname = 'port-' ~ accessor.clean_name ~ port.name|nospace %}
        <div class="form-group">
          <label for="{{ fieldname }}" class="col-lg-2 control-label">{{ port.name }}</label>


          {% if port.direction == "output" %}
          <div class="col-lg-10">
            <span id="{{ fieldname }}" data-portdirection="output">unknown</span>
          </div>

          {% elif port.type == "bool" %}
          <div class="col-lg-10">
            <div class="checkbox"><label>
              <input type="checkbox" name="{{ fieldname }}" id="{{ fieldname }}" class="form-control accessor-checkbox" data-accessorname="{{ accessor.clean_name|nospace }}" data-port="{{ fieldname }}" data-function="{{ port.name|nospace }}" data-portdirection="{{ port.direction }}">
              </label>
            </div>
          </div>

          {% elif port.type in ["numeric", "integer"] %}

          {% if 'min' in port and 'max' in port %}
          {# Do a slider #}
          <div class="col-lg-10">
            <input type="text" name="{{ fieldname }}" id="{{ fieldname }}" class="slider" data-slider-id='{{ fieldname }}-slider' data-slider-min="{{ port.min }}" data-slider-max="{{ port.max }}" data-slider-step="1" data-slider-value="{{ port.min }}" data-accessorname="{{ accessor.clean_name|nospace }}" data-function="{{ port.name|nospace }}"/>
          </div>
          {% else %}
          {# Do a text box #}
          <div class="col-lg-7">
            <input type="text" class="form-control" name="{{ fieldname }}" id="{{ fieldname }}"{% if 'default' in port %} value="{{ port.default }}"{% endif %} data-portdirection="{{ port.direction }}"></input>
          </div>
          <div class="col-lg-3">
            <button type="button" class="form-control accessor-arbitrary-input-button" data-accessorname="{{ accessor.clean_name|nospace }}" data-port="{{ fieldname }}" data-function="{{ port.name|nospace }}">Update</button>
          </div>
          {% endif %}

          {% elif port.type == "string" %}
          <div class="col-lg-7">
            <input type="text" class="form-control" name="{{ fieldname }}" id="{{ fieldname }}"{% if 'default' in port %} value="{{ port.default }}"{% endif %} data-portdirection="{{ port.direction }}"></input>
          </div>
          <div class="col-lg-3">
            <button type="button" class="form-control accessor-arbitrary-input-button" data-accessorname="{{ accessor.clean_name|nospace }}" data-port="{{ fieldname }}" data-function="{{ port.name|nospace }}">Update</button>
          </div>

          {% elif port.type == "select" %}
          <div class="col-lg-10">
            <select class="form-control" name="{{ port.name }}" id="{{ fieldname }}" data-portdirection="{{ port.direction }}">
              {% for opt in port.options %}
              <option value="{{ loop.index }}"{% if 'default' in port and port.default == 'opt' %} selected="selected"{% endif %}>{{ opt }}</option>
              {% endfor %}
            </select>
          </div>

          {% elif port.type == "button" %}
          <div class="col-lg-3">
            <button type="button" class="form-control accessor-button" data-accessorname="{{ accessor.clean_name|nospace }}" data-port="{{ fieldname }}" data-function="{{ port.name|nospace }}" data-portdirection="{{ port.direction }}">Execute</button>
          </div>

          {% elif port.type == "color" %}
          {# color picker #}
          <div class="col-lg-10">
            <div class="colorpicker" name="{{ fieldname }}" id="{{ fieldname }}" data-accessorname="{{ accessor.clean_name|nospace }}" data-port="{{ fieldname }}" data-function="{{ port.name|nospace }}" data-portdirection="{{ port.direction }}"></div>
          </div>

          {% else %}
          <div class="col-lg-10">
            <span id="{{ fieldname }}" data-portdirection="{{ port.direction }}">unknown</span>
          </div>

          {% endif %}


        </div>
        {% endfor %}

      </fieldset>
    </form>
    <span class="spinner" style="display:none"><img src="static/images/ajax-loader.gif" /></span>
  </div>

</div>

{% if 'dependencies' in accessor %}
{% for dependency in accessor.dependencies %}
<div id="accessor-{{ dependency.clean_name }}" style="display:none;">
  {% for port in dependency.ports %}
  {% set fieldname = 'port-' ~ dependency.clean_name ~ port.clean_name %}
  <input type="hidden" class="form-control" name="{{ fieldname }}" id="{{ fieldname }}" data-porttype="{{ port.type }}"></input>
  {% endfor %}
</div>
{% endfor %}
{% endif %}
