<div id="ports">

  {{ accessor.description|markdown|safe }}

  <div class="well bs-component">
    <form class="form-horizontal">
      <fieldset>

        <legend>Controls</legend>

        {% for port in accessor.ports %}
        {% set fieldname = accessor.name|nospace ~ port.name|nospace %}
        <div class="form-group">
          <label for="{{ fieldname }}" class="col-lg-2 control-label">{{ port.name }}</label>


          {% if port.direction == "output" %}
          <div class="col-lg-10">
            <span id="{{ fieldname }}">unknown</span>
          </div>

          {% elif port.type == "bool" %}
          <div class="col-lg-10">
            <div class="checkbox"><label>
              <input type="checkbox" name="{{ fieldname }}" id="{{ fieldname }}" class="form-control accessor-checkbox" data-port="{{ fieldname }}" data-function="{{ port.name }}">
              </label>
            </div>
          </div>

          {% elif port.type == "numeric" %}
          <div class="col-lg-7">
            <input type="text" class="form-control" name="{{ fieldname }}" id="{{ fieldname }}"></input>
          </div>
          <div class="col-lg-3">
            <button type="button" class="form-control accessor-arbitrary-input-button" data-port="{{ fieldname }}" data-function="{{ port.name }}">Update</button>
          </div>

          {% elif port.type == "string" %}
          <div class="col-lg-7">
            <input type="text" class="form-control" name="{{ fieldname }}" id="{{ fieldname }}"></input>
          </div>
          <div class="col-lg-3">
            <button type="button" class="form-control accessor-arbitrary-input-button" data-port="{{ fieldname }}" data-function="{{ port.name }}">Update</button>
          </div>

          {% elif port.type == "select" %}
          <div class="col-lg-10">
            <select class="form-control" name="{{ port.name }}" id="{{ fieldname }}">
              {% for opt in port.options %}
              <option value="{{ loop.index }}">{{ opt }}</option>
              {% endfor %}
            </select>
          </div>

          {% else %}
          <div class="col-lg-10">
            <span id="{{ fieldname }}">unknown</span>
          </div>

          {% endif %}


        </div>
        {% endfor %}

      </fieldset>
    </form>
  </div>

</div>
