#body {
	padding-top: 60px;
}

.output-port {
	border: 1px solid #ccc;
	padding-left: 10px;
}

.negative {
	color: red;
}

.slider {
	margin-top: 8px;
}

.port-group {
	padding-bottom: 10px;
	padding-top: 10px;
}

.port-divider {
	border-bottom: 1px solid #ccc;
}