#body {
	padding-top: 60px;
}

.output-port {
	border: 1px solid #ccc;
	padding-left: 10px;
}

.negative {
	color: red;
}

.slider {
	margin-top: 8px;
}

.port-group {
	padding-bottom: 10px;
	padding-top: 10px;
}

.port-divider {
	border-bottom: 1px solid #ccc;
}

.port-group label {
	font-size: 90%;
}

#accessor-new {
	margin-top: 20px;
}

#accessor-new-parameters-title {
	color: #888;
	text-align: center;
	margin: -10px 0 10px 0;
}