<li>
  {% if error.loc %}
  {% if error.loc.start.line != error.loc.end.line %}
  Lines {{ error.loc.start.line }}&ndash;{{ error.loc.end.line }}:
  {% else %}
  Line {{ error.loc.start.line }}:
  {% endif %}
  {{ contents|print_error_loc(error.loc)|safe }}
  {% endif %}
  {{ error.title }}
</li>
<ul>
  {% for extra in error.extra  %}
  <li>
    {{ extra }}
  </li>
  {% endfor %}
</ul>

