{% extends "base.jinja" %}

{% block title %}
Accessors in {{ group }} | Accessor Library
{% endblock %}

{% block content %}

<h1>Accessors in the {{ group }} group</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Provides</th>
      <th>Creates</th>
      <th>Last Updated</th>
    </tr>
  </thead>

  {% for record in records %}
  <tr>
    {% if record.errors %}
    <td><a href="/view/accessor{{ record.path }}" style="color: red;"><span class="glyphicon glyphicon-alert" aria-hidden="true"></span> {{ record.name }}</a></td>
    {% else %}
    <td><a href="/view/accessor{{ record.path }}">{{ record.name }}</a></td>
    {% endif %}
    <td>
      {% for iface in record.accessor.implements %}
      <p>{{ iface.interface|interface }}</p>
      {% endfor %}
    </td>
    <td>
      {% for port in record.accessor.created_ports %}
      <p>
      {% if 'observe' in port.directions %}
      <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
      {% endif %}
      {% if 'input' in port.directions %}
      <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
      {% endif %}
      {{ port.name }}
      {% if 'output' in port.directions %}
      <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
      {% endif %}
      </p>
      {% endfor %}
    </td>
    <td>{{ record.compilation_timestamp.humanize() }}</td>
  </tr>
  {% endfor %}

</table>

{% endblock %}

