{% extends "base.jinja" %}

{% block title %}
Accessor Host Server
{% endblock %}

{% block content %}

<h1>Accessors</h1>

<p>
  This server hosts accessors and makes them available in JSON and XML formats.
</p>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Group</th>
    </tr>
  </thead>

  {% for record in accessors_db %}
  <tr>
    <td><a href="/view{{ record.path }}">{{ record.name }}</a></td>
    <td>{{ record.group }}</td>
  </tr>
  {% endfor %}

</table>

{% endblock %}