{% extends "base.jinja" %}

{% block title %}
Accessor Library
{% endblock %}

{% block content %}

<h1>Accessor Library</h1>

<p>
  This server hosts accessors and makes them available in JSON and XML formats.
</p>
<p>
To add a new accessor or modify an existing accessor, commit a change to the
<a href="https://github.com/lab11/accessor-files" target="_blank">
  accessor repository <span style="display: inline-block; transform:rotate(90deg); -moz-transform:rotate(90deg); -webkit-transform:rotate(90deg);">&#x21f1;</span></a>.
</p>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Group</th>
      <th>Provides</th>
      <th>Creates</th>
      <th>Requires</th>
      <th>Last Updated</th>
    </tr>
  </thead>

  {% for record in accessors_db %}
  <tr>
    <td>
      {% if record.errors %}
      <a href="/view/accessor{{ record.path }}" style="color: red;">&#9888; {{ record.name }}</a>
      {% elif record.warnings %}
      <a href="/test/view/accessor{{ record.path }}" style="color: #DAA520;">&#9888; {{ record.name }}</a>
      {% else %}
      <a href="/view/accessor{{ record.path }}">{{ record.name }}</a>
      {% endif %}
    </td>
    <td>
      <a href="/view/group{{ record.group }}">{{ record.group }}</a>
    </td>
    <td>
      {% for iface in record.accessor.implements %}
      {{ iface.interface|interface }}<br />
      {% endfor %}
    </td>
    <td>
      {% for port in record.accessor.created_ports %}
      {% if 'observe' in port.directions %}
      <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
      {% endif %}
      {% if 'input' in port.directions %}
      <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
      <!-- &#10142; -->
      {% endif %}
      {{ port.name }}
      {% if 'output' in port.directions %}
      <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
      <!-- &#10142; -->
      {% endif %}
      <br />
      {% endfor %}
    </td>
    <td>
      {% for param in record.accessor.parameters %}
      {% if param.required %}
      {{ param.name }}<br />
      {% endif %}
      {% endfor %}
    </td>
    <td>{{ record.compilation_timestamp.humanize() }}</td>
  </tr>
  {% endfor %}

</table>

<h2>Tests</h2>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Group</th>
      <th>Provides</th>
      <th>Creates</th>
      <th>Requires</th>
      <th>Last Updated</th>
    </tr>
  </thead>

  {% for record in accessors_test_db %}
  <tr>
    <td>
      {% if record.errors %}
      <a href="/test/view/accessor{{ record.path }}" style="color: red;">&#9888; {{ record.name }}</a>
      {% elif record.warnings %}
      <a href="/test/view/accessor{{ record.path }}" style="color: #DAA520;">&#9888; {{ record.name }}</a>
      {% else %}
      <a href="/test/view/accessor{{ record.path }}">{{ record.name }}</a>
      {% endif %}
    </td>
    <td>
      <a href="/test/view/group{{ record.group }}">{{ record.group }}</a>
    </td>
    <td>
      {% for iface in record.accessor.implements %}
      {{ iface.interface|interface }}<br />
      {% endfor %}
    </td>
    <td>
      {% for port in record.accessor.created_ports %}
      {% if 'observe' in port.directions %}
      <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
      {% endif %}
      {% if 'input' in port.directions %}
      <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
      <!-- &#10142; -->
      {% endif %}
      {{ port.name }}
      {% if 'output' in port.directions %}
      <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
      <!-- &#10142; -->
      {% endif %}
      <br />
      {% endfor %}
    </td>
    <td>
      {% for param in record.accessor.parameters %}
      {% if param.required %}
      {{ param.name }}<br />
      {% endif %}
      {% endfor %}
    </td>
    <td>{{ record.compilation_timestamp.humanize() }}</td>
  </tr>
  {% endfor %}

</table>

<h1>Interfaces</h1>

<p>
Interfaces define a standard API for devices. Many interfaces <em>extend</em>
other interfaces. Extending an interface means the new interface implements
exactly the same ports as the extended interface, but the ports are labeled
under a different name. An interface can extend several interfaces and can also
create new ports in addition to extending an interface. In other cases, an
interface may simply extend an existing interface.
</p>
<p>
As an example, the <code>/onoff</code> interface provides a single
<code>Power</code> port.  The <code>/lighting/light</code> interface extends
the <code>/onoff</code> interface, as lights are also something that can be
turned on and off. While the functional interface&mdash;a single boolean
<code>Power</code> port&mdash;is the same, the <code>/lighting/light</code>
interface adds <em>semantic</em> information about the device that is being
powered on or off.
</p>
<p>
To add a new interface or modify an existing interface, commit a change to the
<a href="https://github.com/lab11/accessor-files" target="_blank">
  accessor repository <span style="display: inline-block; transform:rotate(90deg); -moz-transform:rotate(90deg); -webkit-transform:rotate(90deg);">&#x21f1;</span></a>.
</p>

<table class="table">
  <thead>
    <tr>
      <th>Interface</th>
      <th>Extends</th>
      <th>Creates</th>
      <th>Implemented Directly By</th>
      <th>Implemented Indirectly By</th>
    </tr>
  </thead>

  {% for path,iface in interface_tree|dictsort %}
  <tr>
    <td>{{ path|interface }}</td>
    <td>
      {% for ext in iface.extends %}
      <p>{{ ext }}</p>
      {% endfor %}
    </td>
    <td>
      {% for name in iface.ports %}
      {% set port = iface.ports[name] %}
      {% if 'observe' in port.directions %}
      <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
      {% endif %}
      {% if 'input' in port.directions %}
      <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
      {% endif %}
      {{ name.split('.')[-1] }}
      {% if 'output' in port.directions %}
      <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
      {% endif %}
      <br />
      {% endfor %}
    </td>
    <td>
      {% for acc in iface.accessors %}
      <a href="/view/accessor{{ acc }}">{{ acc }}</a><br />
      {% endfor %}
    </td>
    <td>
      {% for acc in iface.accessors_by_extends %}
      <a href="/view/accessor{{ acc }}">{{ acc }}</a><br />
      {% endfor %}
    </td>
  </tr>
  {% endfor %}

</table>

{% endblock %}
