{% if interface.ports %}
<h4>Ports defined by {{ interface }}:</h4>
<ul class="list-group">
  {% for name in interface.ports %}
  <li class="list-group-item">
    {% set port = interface.ports[name] %}
    <h4>{{ name }}</h4>
    <p>{{ port.description }}</p>
    <dl class="dl-horizontal">
      <dt>Directions</dt><dd>{{ port.directions }}</dd>
      <dt>Type</dt><dd>{{ port.type }}</dd>
      {% if port.unit %}<dt>Units</dt><dd>{{ port.unit }}</dd>{% endif %}
      {% if port.options %}<dt>Options</dt><dd>{{ port.options }}</dd>{% endif %}
      {% if port.min %}<dt>Min</dt><dd>{{ port.min }}</dd>{% endif %}
      {% if port.max %}<dt>Max</dt><dd>{{ port.max }}</dd>{% endif %}
    </dl>
  </li>
  {% endfor %}
</ul>
{% endif %}

{% if interface.extends %}
<h2>Interfaces extended by {{ interface }}:</h2>
<div style="padding-left: 50px;">
  {% set e_list = interface.extends %}
  {% for interface in e_list %}
  <h3><a href="/view/interface{{ interface }}">{{ interface }}</a></h3>
  {% include "interface-detail.jinja2" %}
  {% endfor %}
</div>
{% endif %}

