{% if interface.ports %}
<div class="row">

  <div class="col-md-7">
    {% if extends_depth == 1 %}
    <h3>Ports</h3>
    {% endif %}
    <ul class="list-group accessor-ports-list">
      {% for name in interface.ports %}
      <li class="list-group-item">
        {% set port = interface.ports[name] %}
        <div class="row">
          <div class="col-sm-8">
            <h4>/{{ name|replace('.', '/') }}</h4>
            <p>{{ port.description }}</p>
          </div>
          <div class="col-sm-4 accessor-ports-list-config">
            <b>Directions</b>: &nbsp;{{ port.directions|join(', ') }}<br />
            <b>Attributes</b>: &nbsp;{{ port.attributes|join(', ') }}<br />
            <b>Type</b>: &nbsp;{{ port.type }}<br />
            {% if 'units' in port %}<b>Units</b>: &nbsp;{{ port.units }}<br />{% endif %}
            {% if 'options' in port %}<b>Options</b>: &nbsp;{{ port.options }}<br />{% endif %}
            {% if 'min' in port %}<b>Min</b>: &nbsp;{{ port.min }}<br />{% endif %}
            {% if 'max' in port %}<b>Max</b>: &nbsp;{{ port.max }}<br />{% endif %}
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>

</div>
{% endif %}

{% if interface.extends %}
<h3>Extends</h3>
<p>
  This interface extends the following interfaces, and therefore includes
  their ports.
</p>
<div style="padding-left: 50px;">
  {% set e_list = interface.extends %}
  {% for interface in e_list %}
  <h4><a href="/view/interface{{ interface }}">{{ interface }}</a></h4>
  {# {% set extends_depth = extends_depth + 1 %}
  {% include "interface-detail.jinja2" %} #}
  {% endfor %}
</div>
{% endif %}

