{% extends "base.jinja" %}

{% block title %}
Accessor: {{ record.name }} | Accessor Library
{% endblock %}

{% block content %}

{% if flags.is_dev %}
<div class="alert alert-warning" role="alert">
  <strong>Notice!</strong> This accessor is in development! This page should
  help with debugging the accessor, but it has not been committed to the
  repository.
</div>
{% endif %}

<h1>Accessor: {{ record.name }}</h1>
<em>Last Updated: {{ record.compilation_timestamp.humanize() }}</em>

<div class="alert alert-danger" role="alert">
  This accessor cannot be used until the follow errors are fixed.
</div>

<h2>Errors</h2>

{% set contents = record.jscontents %}
<ul>
  {% for err in record.errors %}
  {% set error = err %}
  {% include "error.jinja" %}
  {% endfor %}
</ul>

<hr />

<h2>Complete Source</h2>
<pre class="line-numbers"><code class="language-javascript">
{{ record.jscontents }}
</code></pre>

{% endblock %}

