{% extends "base.jinja" %}

{% block title %}
Accessor: {{ record.name }}
{% endblock %}

{% block content %}

{% if dev %}
<div class="alert alert-warning" role="alert">
  <strong>Notice!</strong> This accessor is in development! This page should
  help with debugging the accessor, but it has not been committed to the
  repository.
</div>
{% endif %}

<h1>Accessor: {{ record.name }}</h1>
<em>Last Updated: {{ record.compilation_timestamp.humanize() }}</em>

<div class="alert alert-danger" role="alert">
  This accessor cannot be used until the follow errors are fixed.
</div>

<h2>Errors</h2>

<ul>
  {% for err in record.errors %}
  <li>{{ err[0] }}</li>
  <ul>
    {% for info in err[1:] %}
    <li>{{ info }}</li>
    {% endfor %}
  </ul>
  {% endfor %}
</ul>

{% endblock %}

