{% extends "base.jinja" %}

{% set accessor = record.accessor %}

{% block title %}
Accessor: {{ record.name }} | Accessor Library
{% endblock %}

{% block content %}

{% if flags.is_dev %}
<div class="alert alert-warning" role="alert">
  <strong>Notice!</strong> This accessor is in development! This page should
  help with debugging the accessor, but it has not been committed to the
  repository.
</div>
{% endif %}

<h1>Accessor: {{ record.name }}</h1>
{% if flags.is_test %}
<span class="label label-info">Test</span>
{% endif %}
{% if flags.is_old_version %}
<em>This page is for an old version of this accessor. <a href="{{ prefix }}/view/accessor{{ record.path }}">Click here for the current version.</a></em>
{% else %}
<em data-toggle="tooltip" data-placement="bottom" title="Most recent commit: {{ record.hash[:8] }}">Last Updated: {{ record.compilation_timestamp.humanize() }}</em>
{% endif %}

{% if record.warnings %}
<hr />
<div class="alert alert-warning" role="alert">
  This accessor has compilation warnings. It may not work correctly until these are fixed.
</div>

{% set contents = record.jscontents %}
<h2>Warnings</h2>
<ul>
  {% for err in record.warnings %}
  {% set error = err %}
  {% include "error.jinja" %}
  {% endfor %}
</ul>
<hr />
{% endif %}


<div class="row" style="margin-top: 30px">

  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Accessor Description</h3>
      </div>
      <div class="panel-body accessor-markdown">
        {{ accessor.description|markdown }}
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">About</h3>
      </div>
      <div class="panel-body">
        <dl class="dl-horizontal">
          <dt>Author Name</dt><dd>{{ accessor.author.name }}</dd>
          <dt>Author Email</dt><dd>{{ accessor.author.email }}</dd>
          <dt>Accessor IR</dt><dd><a href="{{ prefix }}/accessor{{ record.path }}.json">JSON</a> | <a href="{{ prefix }}/accessor{{ record.path }}.xml">XML</a></dd>
        </dl>
      </div>
    </div>
  </div>

</div>

<div class="row">

  <div class="col-md-7">
    <h2>Ports</h2>
    <ul class="list-group accessor-ports-list">
      {% for port in accessor.ports %}
      <li class="list-group-item">
        <div class="row">
          <div class="col-sm-8">
            <h4>{{ port.name }}
              {% if port.interface_path %}
              <small><span style="font-size: small;">&nbsp;<em>(From {{ port.interface_path|interface }})</em></span></small>
              {% endif %}
            </h4>
            <p>{{ port.description }}</p>
            {% if port.in_bundle %}
            <p data-toggle="tooltip" data-placement="bottom" title="Bundles are groups of ports that are considered a logical group by the accessor. If you need to write multiple values in a bundle, use the bundle port as it will be more efficient.">
            Bundled in {{ port.in_bundle }}.
            </p>
            {% endif %}
            {% if port.bundles_ports %}
            <p data-toggle="tooltip" data-placement="bottom" title="Bundles are groups of ports that are considered a logical group by the accessor. Use this bundle port to set multiple values at once. You do not need to set all values">
            Bundles the {{ port.bundles_ports }} ports.
            </p>
            {% endif %}
          </div>
          <div class="col-sm-4 accessor-ports-list-config">
            <b>Directions</b>: &nbsp;{{ port.directions|join(', ') }}<br />
            <b>Type</b>: &nbsp;{{ port.type }}<br />
            {% if 'units' in port %}<b>Units</b>: &nbsp;{{ port.units }}<br />{% endif %}
            {% if 'options' in port %}<b>Options</b>: &nbsp;{{ port.options }}<br />{% endif %}
            {% if 'min' in port %}<b>Min</b>: &nbsp;{{ port.min }}<br />{% endif %}
            {% if 'max' in port %}<b>Max</b>: &nbsp;{{ port.max }}<br />{% endif %}
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>

  <div class="col-md-5">
    <h2>Parameters</h2>
    {% if accessor.parameters %}
    <ul class="list-group">
      {% for parameter in accessor.parameters %}
      <li class="list-group-item">
        <h4>{{ parameter.name }}</h4>
        {% if parameter.default %}
        <p><em><strong>Default: </strong>{{ parameter.default }}</em></p>
        {% endif %}
        <p>{{ parameter.description }}</p>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <em>This accessor does not have any parameters</em>
    {% endif %}
  </div>

</div>


<h2>Dependencies</h2>
{% if accessor.dependencies %}
<ul class="list-group">
  {% for dep in accessor.dependencies %}
  <li class="list-group-item">
    <h4>{{ dep.name }}</h4>
    <p>{{ dep.description }}</p>
  </li>
  {% endfor %}
</ul>
{% else %}
<em>This accessor does not have any dependencies</em>
{% endif %}


<h2>Required Libraries</h2>
{% if accessor.runtime_imports %}
<ul class="list-group">
  {% for imp in accessor.runtime_imports %}
  <li class="list-group-item">
    <h4>{{ imp }}</h4>
  </li>
  {% endfor %}
</ul>
{% else %}
<em>This accessor does not need any libraries</em>
{% endif %}


<h2>Usage Examples</h2>

<h3>Node.js</h3>
<div class="panel panel-default">
  <div class="panel-body">
    <pre class="line-numbers"><code class="language-javascript">
{{ usage_examples.node|escape }}
    </code></pre>
    <em><a href="{{ prefix }}/view/example{{ record.path }}.js">Download this example</a></em>
  </div>
</div>

<h3>Python</h3>
<div class="panel panel-default">
  <div class="panel-body">
    <pre class="line-numbers"><code class="language-python">
{{ usage_examples.python|escape }}
    </code></pre>
    <em><a href="{{ prefix }}/view/example{{ record.path }}.py">Download this example</a></em>
  </div>
</div>


<h2>Accessor JavaScript Code</h2>
<div class="panel panel-default">
  <div class="panel-body">
    <pre class="line-numbers"><code class="language-javascript">
{{ accessor.code_alternates.javascript|escape }}
    </code></pre>
  </div>
</div>

{% endblock %}
