{% extends "base.jinja" %}

{% set accessor = record.accessor %}

{% block title %}
Accessor: {{ record.name }} | Accessor Library
{% endblock %}

{% block content %}

{% if flags.is_dev %}
<div class="alert alert-warning" role="alert">
  <strong>Notice!</strong> This accessor is in development! This page should
  help with debugging the accessor, but it has not been committed to the
  repository.
</div>
{% endif %}

<h1>Accessor: {{ record.name }}</h1>
{% if flags.is_test %}
<span class="label label-info">Test</span>
{% endif %}
<em>Last Updated: {{ record.compilation_timestamp.humanize() }}</em>

{% if record.warnings %}
<div class="alert alert-warning" role="alert">
  This accessor has compilation warnings. It may not work correctly until these are fixed.
</div>

<h2>Warnings</h2>

<ul>
  {% for err in record.warnings %}
  <li>{{ err[0] }}</li>
  <ul>
    {% for info in err[1:] %}
    <li>{{ info }}</li>
    {% endfor %}
  </ul>
  {% endfor %}
</ul>

{% endif %}

<h2>About</h2>
<dl class="dl-horizontal">
  <dt>Author Name</dt><dd>{{ accessor.author.name }}</dd>
  <dt>Author Email</dt><dd>{{ accessor.author.email }}</dd>
  <dt>Links</dt><dd><a href="{{ prefix }}/accessor{{ record.path }}.json">JSON</a> | <a href="{{ prefix }}/accessor{{ record.path }}.xml">XML</a></dd>
</dl>



<div class="panel panel-default">
  <div class="panel-body">
    {{ accessor.description|markdown }}
  </div>
</div>


<h2>Ports</h2>
<ul class="list-group">
  {% for port in accessor.ports %}
  <li class="list-group-item">
    <h4>{{ port.name }}</h4>
    <p>{{ port.description }}</p>
    <dl class="dl-horizontal">
      <dt>Directions</dt><dd>{{ port.directions }}</dd>
      <dt>Type</dt><dd>{{ port.type }}</dd>
      {% if port.units %}<dt>Units</dt><dd>{{ port.units }}</dd>{% endif %}
      {% if port.options %}<dt>Options</dt><dd>{{ port.options }}</dd>{% endif %}
      {% if port.min %}<dt>Min</dt><dd>{{ port.min }}</dd>{% endif %}
      {% if port.max %}<dt>Max</dt><dd>{{ port.max }}</dd>{% endif %}
    </dl>
    {% if port.interface_path %}
    <span style="font-size: small;"><em>From {{ port.interface_path|interface }}</em></span>
    {% endif %}
  </li>
  {% endfor %}
</ul>


<h2>Parameters</h2>
{% if accessor.parameters %}
<ul class="list-group">
  {% for parameter in accessor.parameters %}
  <li class="list-group-item">
    <h4>{{ parameter.name }}</h4>
    {% if parameter.default %}
    <p><em><strong>Default: </strong>{{ parameter.default }}</em></p>
    {% endif %}
    <p>{{ parameter.description }}</p>
  </li>
  {% endfor %}
</ul>
{% else %}
<em>This accessor does not have any parameters</em>
{% endif %}


<h2>Dependencies</h2>
{% if accessor.dependencies %}
<ul class="list-group">
  {% for dep in accessor.dependencies %}
  <li class="list-group-item">
    <h4>{{ dep.name }}</h4>
    <p>{{ dep.description }}</p>
  </li>
  {% endfor %}
</ul>
{% else %}
<em>This accessor does not have any dependencies</em>
{% endif %}


<h2>Usage Examples</h2>

<h3>Node.js</h3>
<div class="panel panel-default">
  <div class="panel-body">
    <pre class="line-numbers"><code class="language-javascript">
{{ usage_examples.node|escape }}
    </code></pre>
    <em><a href="{{ prefix }}/view/example{{ record.path }}.js">Download this example</a></em>
  </div>
</div>

<h3>Python</h3>
<div class="panel panel-default">
  <div class="panel-body">
    <pre class="line-numbers"><code class="language-python">
{{ usage_examples.python|escape }}
    </code></pre>
    <em><a href="{{ prefix }}/view/example{{ record.path }}.py">Download this example</a></em>
  </div>
</div>


<h2>Accessor JavaScript Code</h2>
<div class="panel panel-default">
  <div class="panel-body">
    <pre class="line-numbers"><code class="language-javascript">
{{ accessor.code_alternates.javascript|escape }}
    </code></pre>
  </div>
</div>

{% endblock %}
