<html>
<head>
	{% block header %}

	<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
	<script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="/static/bower_components/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js"></script>
	<script src="/static/bower_components/colpick/js/colpick.js"></script>
	<script src="/static/bower_components/tinycolor/tinycolor.js"></script>
	<script src="/static/js/main.js"></script>
	<link href="/static/css/bootstrap.css" media="all" rel="stylesheet" type="text/css" />
	<link href="/static/bower_components/seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css" media="all" rel="stylesheet" type="text/css" />
	<link href="/static/bower_components/colpick/css/colpick.css" media="all" rel="stylesheet" type="text/css" />
	<link href="/static/css/main.css" media="all" rel="stylesheet" type="text/css" />

	{% block includes %}
	{% endblock %}

	<title>{% block title %}{% endblock %}</title>

	{% endblock %}
</head>

<body>

	{# Need a runtime setting for the websocket connection #}
	<script type="text/javascript">
	ws_server_address = '{{ ws_server_address }}';
	</script>

	{# Include the top navbar #}
	<div class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
		<div class="container">
			<div class="container-fluid">
				<div class="navbar-header" style="float:none;">
					<a class="navbar-brand" href="#">{% block page_title %}{% endblock %}</a>

					<div class="navbar-right" style="margin:5px 0 0 20px; float:right;">
						<a href="http://www.eecs.umich.edu/cse/">
							<img src="/static/images/michigan.png" height="35px" />
						</a>
					</div>
					<div class="navbar-right" style="margin:5px 0 0 20px; float:right;">
						<a href="http://lab11.eecs.umich.edu">
							<img src="/static/images/lab11_57px.png" height="35px" style="background-color: rgba(255,255,255,.5);" />
						</a>
					</div>

				</div>
			</div>
		</div>
	</div>


	{% block body %}{% endblock %}

	<script src="/static/js/onload.js"></script>

</body>
</html>
