{% extends "base.html" %}


{% block title %}
Accessors.local
{% endblock %}
{% block page_title %}
Accessors.local
{% endblock %}


{% block body %}


<div id="body">


<div class="container">

  <div id="alerts"></div>

  <div class="row">

    <div class="panel panel-info header-box">


    <div class="panel-body">
    <div class="col-md-8">
      <div class="jumbotron" style="background:white; margin-bottom: 0px;">
        <h1>Accessors.local</h1>
        <p>Interact with your world.</p>
      </div>
    </div>

    {#<div class="col-md-4">
      <div class="list-group">
        <div class="list-group-item" style="border:0;">
          <h4 class="list-group-item-heading">The world is a complicated place.</h4>
          <p class="list-group-item-text">
             Accessors provide
            a standardized interface for controlling, reading, and
            interacting with the devices around you.
          </p>
        </div>
        <div class="list-group-item" style="border-left:0;border-right:0;">
          <h4 class="list-group-item-heading">Code comes standard, too.</h4>
          <p class="list-group-item-text">
            An interface is great, but code is what makes it work.
            Accessors include the code needed to use the interface.
          </p>
        </div>
        <div class="list-group-item" style="border-left:0;border-right:0;border-bottom:0;">
          <h4 class="list-group-item-heading">Accessors are versatile.</h4>
          <p class="list-group-item-text">
            Accessors can run any where Javascript does.
            Plus the configuration is easily parsable JSON.
          </p>
        </div>
      </div>
    </div>#}

  </div>

  </div>
  </div>


  <div class="row">
    <div class="col-md-6">

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">To get started, choose an existing device.</h3>
        </div>
        <div class="panel-body">
          <p>
            These devices have already been configured and named.
          </p>
          <select class="form-control" id="device-select">
            <option value="default">Select an existing device</option>
            {% for aa in active_accessors %}
            <option value="{{ aa.name }}">{{ aa.name }}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Or, create a new device.</h3>
        </div>
        <div class="panel-body">
          <div id="new-device-alerts"></div>
          <p>
            Start with a bare accessor and provide the required parameters
            to instantiate a new device. This will be saved once created.
          </p>
          <select class="form-control" id="accessor-select">
            <option value="default">Select an accessor</option>
            {% for accessor_path in all_accessors %}
            <option value="{{ accessor_path }}">{{ accessor_path }}</option>
            {% endfor %}
          </select>
          <div id="accessor-new">
            <form class="form-horizontal">
            </form>
          </div>
        </div>
      </div>

    </div>

    <div class="col-md-6">

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Use the device.</h3>
        </div>
        <div class="panel-body" id="accessor-interface">

        </div>
      </div>

    </div>

  </div>


</div>


</div>

{% endblock %}
