<div id="accessor-{{ accessor.uuid }}" class="accessor" data-device-name="{{ accessor.device_name }}">

  <div id="accessor-{{ accessor.uuid }}-alerts"></div>

  {% markdown %}
  {{ accessor.description }}
  {% endmarkdown %}

  <div class="well bs-component">
    <form class="form-horizontal">
      <fieldset>

        <legend>Controls</legend>

        {% for port in accessor.ports %}
        <div class="form-group">
          <label for="{{ port.name }}" class="col-sm-2 control-label">{{ port.display_name }}</label>

         {#} {% if port.direction == "output" %}
          <div class="col-sm-10 port-html-group">
            <p id="port-{{ port.uuid }}" class="form-control-static output-port" data-portdirection="output" data-porttype="{{ port.type }}" data-port="{{ port.name }}">not set</p>
        oooooo    <button type="button" class="form-control accessor-get">Get</button>
          </div>#}

          {% if port.type == "bool" %}
          <div class="col-sm-10">
            <div class="checkbox">
              <label>
                <input type="checkbox" id="port-{{ port.uuid }}" class="accessor-checkbox" data-port="{{ port.name }}" data-portdirection="{{ port.direction }}">
              </label>
            </div>
          </div>

          {% elif port.type in ["numeric", "integer"] %}

          {% if port.min != 'undefined' and port.max != 'undefined' %}
          {# Do a slider #}
          <div class="col-sm-10">
            <input type="text" id="port-{{ port.uuid }}" class="slider" data-slider-id='{{ fieldname }}-slider' data-slider-min="{{ port.min }}" data-slider-max="{{ port.max }}" data-slider-step="1" data-slider-value="{{ port.min }}" data-port="{{ port.name }}"/>
          </div>

          {% else %}
          {# Do a text box #}
          <div class="col-sm-10 port-html-group">
            <div class="row">
              <div class="col-xs-8">
                <input type="text" id="port-{{ port.uuid }}" class="form-control port" {% if 'default' in port %} value="{{ port.default }}"{% endif %} data-port="{{ port.name }}"></input>
              </div>
              <div class="col-xs-4">
                <button type="button" class="form-control accessor-arbitrary-input-button">Update</button>
              </div>
            </div>
          </div>
          {% endif %}

          {% elif port.type in ["string", "currency_usd"] %}
          <div class="col-sm-10 port-html-group">
            <div class="row">
              <div class="{% if port.has_function %}col-xs-8{% else %}col-xs-12{% endif %}">
                <input type="text" id="port-{{ port.uuid }}" class="form-control port" {% if 'default' in port %} value="{{ port.default }}"{% endif %} data-port="{{ port.name }}"></input>
              </div>

              <div class="col-xs-4">
                <button type="button" class="form-control accessor-arbitrary-input-button">Update</button>
              </div>
            </div>
          </div>

          {% elif port.type == "select" %}
          <div class="col-sm-10">
            <select id="port-{{ port.uuid }}" class="form-control port-select">
              {% for opt in port.options %}
              <option value="{{ loop.index }}"{% if 'default' in port and port.default == 'opt' %} selected="selected"{% endif %}>{{ opt }}</option>
              {% endfor %}
            </select>
          </div>

          {% elif port.type == "button" %}
          <div class="col-sm-3">
            <button type="button" id="port-{{ port.uuid }}" class="form-control accessor-button" data-port="{{ port.name }}">Execute</button>
          </div>

          {% elif port.type == "color" %}
          {# color picker #}
          <div class="col-sm-10">
            <div class="colorpicker" id="port-{{ port.uuid }}" data-port="{{ port.name }}"></div>
          </div>

          {% else %}
          <div class="col-lg-10">
            <p class="from-control-static" id="port-{{ port.uuid }}" data-port="{{ port.name }}">unknown</p>
          </div>

          {% endif %}


        </div>
        {% endfor %}

        {% if accessor.display_fire_button %}
        <div class="form-group">
          <label class="col-sm-2 control-label"></label>
          <div class="col-sm-10">
            <button type="button" class="form-control accessor-button" data-accessorname="{{ accessor.clean_name }}" data-function="fire">Fire!</button>
          </div>
        </div>
        {% endif %}

      </fieldset>
    </form>
    <span class="spinner" style="display:none"><img src="static/images/ajax-loader.gif" /></span>
  </div>

</div>
