<div id="accessor-{{ accessor.uuid }}" class="accessor" data-device-name="{{ accessor.device_name }}">

  <div id="accessor-{{ accessor.uuid }}-alerts"></div>

  {% markdown %}
  {{ accessor.description }}
  {% endmarkdown %}

  <div class="well bs-component">
    <form class="form-horizontal">
      <fieldset>

        <legend>Controls</legend>

        {% for port in accessor.ports %}

        {#  layout:

            |  2   | 8              | 2       |
            | name | port interface | refresh |
        #}

        <div id="port-group-{{ port.uuid }}" class="port-group row">

          <div id="port-group-meta-{{ port.uuid }}" class="port-group-meta" style="display: none;">
            {# Place to store meta information for the port #}
            {{ port|json }}
          </div>

          <label for="{{ port.name }}" class="col-sm-2 control-label">{{ port.display_name }}</label>

          {% if port.directions|length == 1 and port.directions[0] == "output" %}
          {# OUTPUT #}
          {# Only an output, just display the data #}
          <div class="col-sm-8">
            <p id="port-{{ port.uuid }}" class="form-control-static">not set</p>
          </div>

          {% elif port.type == "bool" %}
          {# CHECKBOX #}
          <div class="col-sm-8">
            <div class="checkbox">
              <label>
                <input type="checkbox" id="port-{{ port.uuid }}" class="accessor-checkbox">
              </label>
            </div>
          </div>


          {% elif port.type in ["numeric", "integer"] and port.min != 'undefined' and port.max != 'undefined' %}
          {# SLIDER #}
          <div class="col-sm-8">
            <input type="text" id="port-{{ port.uuid }}" class="slider" data-slider-id='{{ fieldname }}-slider' data-slider-min="{{ port.min }}" data-slider-max="{{ port.max }}" data-slider-step="1" data-slider-value="{{ port.min }}" data-port="{{ port.name }}"/>
          </div>

          {% elif port.type in ["numeric", "integer", "string"] and "input" in port.directions %}
          {# TEXT BOX #}
          <div class="col-sm-6">
            <input type="text" id="port-{{ port.uuid }}" class="form-control port" {% if port.default != 'undefined' %} value="{{ port.default }}"{% endif %}></input>
          </div>
          <div class="col-sm-2">
            <button type="button" class="form-control accessor-input">&#9654;</button>
          </div>

          {% elif port.type == "select" %}
          {# DROPDOWN #}
          <div class="col-sm-10">
            <select id="port-{{ port.uuid }}" class="form-control port-select">
              {% for opt in port.options %}
              <option value="{{ loop.index }}"{% if port.default == 'opt' %} selected="selected"{% endif %}>{{ opt }}</option>
              {% endfor %}
            </select>
          </div>

          {% elif port.type == "button" %}
          {# BUTTON #}
          <div class="col-sm-10">
            <button type="button" id="port-{{ port.uuid }}" class="form-control accessor-button">Execute</button>
          </div>

          {% elif port.type == "color" %}
          {# COLOR PICKER #}
          <div class="col-sm-8">
            <div class="colorpicker" id="port-{{ port.uuid }}"></div>
          </div>

          {% else %}
          <div class="col-sm-8">
            <p class="from-control-static" id="port-{{ port.uuid }}">Port has an unknown type ({{ port.type }}).</p>
          </div>

          {% endif %}

          {# Button for re-requesting the value of the port from the server #}
          <div class="col-sm-2">
            {% if 'output' in port.directions %}
            <button type="button" class="form-control accessor-refresh">&#8635;</button>
            {% endif %}
          </div>


        </div>
        {% if not loop.last %}
        <div class="row">
          <div class="col-sm-10 col-sm-offset-1 port-divider"></div>
        </div>
        {% endif %}

        {% endfor %}

        {% if accessor.display_fire_button %}
        <div class="form-group">
          <label class="col-sm-2 control-label"></label>
          <div class="col-sm-10">
            <button type="button" class="form-control accessor-button" data-accessorname="{{ accessor.clean_name }}" data-function="fire">Fire!</button>
          </div>
        </div>
        {% endif %}

      </fieldset>
    </form>
    <span class="spinner" style="display:none"><img src="static/images/ajax-loader.gif" /></span>

  </div>

</div>
